.Dictionary section {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
    margin: 20px 0;
}

.Dictionary input {
    width: 100%;
    padding: 0px;
    border-radius: 6px;
}

.Dictionary button {
    width: 100%;
    margin-top: 10px;
   padding: 4px;
    font-size: 12px;
    border-radius: 6px;
    background: #cc68ff;
}

.Dictionary button:hover {
    background-color: #d79bf7;
    border: #fff;
}