.Dictionary section {
    display: block;
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 50%;
}

.Dictionary input {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 6px;
    font-family: 'rotobo';
}

.Dictionary button {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 4px;
    font-size: 12px;
    border-radius: 6px;
    background-color: #D79BF7;
    border-color: transparent;
}

.Dictionary button:hover {
    background-color: #be6de9;
    border: #fff;
    transition: all 150ms ease-in-out;
}

.introduction {
    text-align: center;
    font-family: 'black_jackregular';
    font-size: 24px;
}